NewsApp.xcodeproj/xcuserdata/dlupych.xcuserdatad/xcschemes/xcschememanagement.plist
NewsApp.xcworkspace/xcuserdata/dlupych.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/dlupych.xcuserdatad/xcschemes/xcschememanagement.plist
NewsApp.xcodeproj/project.xcworkspace/xcuserdata/dmitriylupych.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
